.task {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #e2f8ff;
  padding: 55px;
  margin: 45px;
  border-radius: 20px;

  .header {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-content: center;
    margin-bottom: 20px;
    gap: 20px
  }

  .task-info {
    display: grid;
    grid-template-columns: 1fr max-content;
    align-content: center;
    gap: 5px;

    button {
      margin-top: 20px;
      width: 70px;
      margin: 10px;
    }

    .description {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .buttons {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
}

.progress {
  grid-column-start: 1;
  grid-column-end: 3;
}

.progress-item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}