.task-list-item {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  justify-items: center;

  width: 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px
}